* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parentDiv {
  display: flex;
  flex-wrap: nowrap;
  background-color: azure;
  border: 10px solid black;
  justify-content: center;
}

.startbtn{
  display: flex;
  border: 2px solid;
  background-color: aqua;
  margin: 12px;
  
}
